.bian {
    background: linear-gradient(0deg, #163F44, black);
    color: white;
    width: 100%;
    height: 110vh;
    padding-left: 25px;
    padding-top: 55px;
}
.dan_box{
    margin-top: 10px;
}
.zi_but{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(151, 146, 146);
    margin-top: 10px;
    margin-left: 10px;
}
.dan_name{
    font-size: 20px;
}
.dan_but{
    position: relative;
    top:-30px;
    border-radius: 50px;
    left:300px;
    background-color: gray;
    width: 50px;
    height: 30px;
}
.dan_a{
    color: rgb(151, 146, 146);
}
.zi_inp{
    border: none;
    outline: none;
    background-color: rgb(4,12,13);
}
.zi_inp1{
    border: none;
    outline: none;
    background-color: rgb(13,37,40);
}
.zi_inp2{
    border: none;
    outline: none;
    background-color: rgb(8,23,25);
}
.bian_img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.bian_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bian_p4{
    font-size: 20px;
    margin-top: 10px;
}
.bian_left {
    font-size: 20px;
}
.bian_p3{
    display: flex;
    margin-right: 20px;
}
.bian_right{
    margin-top: 20px;
    margin-left: 10px;
}
.bian_p1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 90px;
    margin-bottom: 60px;
}

.bian_box1 {
    display: flex;
}

.bian_p2 {
    font-size: 20px;
}