.home-container{
    background:linear-gradient(150deg,#163F44,black) ;
    color: white;
    height: 606px;
    width: 100%;
    
}
.home-inp{
    color: white;
    background-color: rgb(20, 45, 52);
    width: 70%;
    height: 30px;
    border-radius: 30px;
    
    float: left;
}
.home-img{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 10px;
}
.home-top{
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-left: 30px;
    
}