.home-container{
    background:linear-gradient(0deg,#163F44,black) ;
    color: white;
    height: 115vh;
    width: 100%;
}
.home-inp{
    color: white;
    background-color: rgb(20, 45, 52);
    width: 70%;
    height: 40px;
    border-radius: 40px;
    line-height: 40px;
    float: left;
}
.home-img{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 8%;
    border-radius: 10px;
}
.home-top{
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-left: 15%;
    margin-bottom: 10%;
}
.content {
    height: 120px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    user-select: none;
    
    width: 90%;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
  }
  .scroll-container {
    width: 100%;
    overflow-x: scroll; /* 允许横向滚动 */
    white-space: nowrap; /* 使内容在同一行显示 */
    /* border: 1px solid #ccc; */
    padding: 10px;
    /* background-color: #fff; */
    
    /* 隐藏滚动条的方法 */
    scrollbar-width: none; /* 对Firefox有效 */
    -ms-overflow-style: none; /* 对IE和Edge有效 */
    margin-top: 5%;
  }
  
  .scroll-container::-webkit-scrollbar { 
    display: none; /* 对Webkit浏览器（Chrome, Safari）有效 */
  }
  
  /* 滚动内容 */
  .scroll-content {
    display: inline-flex; /* 使子元素并排显示 */
  }
  
  /* 每个项目 */
  .item {
    flex: 0 0 auto; /* 防止项目换行 */
    width: 250px;
    height: 200px;
    margin: 0 10px;
    background-color: #007bff;
    color: black;
    
    /* border-radius: 5px; */
    border-radius: 5px 35px 5px 5px;
    background: linear-gradient(-160deg,rgb(255,179,170),rgb(254,242,162));
  }
  .items{
    flex: 0 0 auto; /* 防止项目换行 */
    width: 100px;
    height: 200px;
    margin: 0 10px;
    background-color: #252525;
    color: white;
    border-radius: 150px;
  }
  .pai p{
    margin-bottom: 5%;
  }
  .but{
    width:40px;
    height: 35px;
    margin: auto;
    background-color: aqua;
    text-align: center;
    color: black;
    font-size: 28px;
    margin-top: 20%;
    line-height: 35px;
    border-radius: 10px;
  }