* {
    margin: 0;
    padding: 0;
}

.User_p {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #51d7b3, #ede323);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 4%;
}

.User_img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.User_text {
    display: flex;
    justify-content: space-between;
}

.User_body {
    width: 90%;
    margin: 70px auto;

}

.User_text div {
    display: flex;

}

.User_left {
    margin-top: 5%;
}

.User_top {
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}

.User_top div {
    width: 20px;
}

.User_cente {
    margin: 10px 0;
    width: 100%;
    height: 50px;
    background: #0f3536;
}